/* Login.css */
.login-container {
  display: flex;
  justify-content: center;
  align-items: center;

}

.login-form {
  margin-top: 4%;
  max-width: 400px;
  width: 100%;
  padding: 2rem;
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.login-title {
  text-align: center;
  margin-bottom: 20px;
}

.password-field {
  position: relative;
}

button[disabled] {
  opacity: 0.6;
}
